<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912029516841-6asqelkqcto7jitv97k36m70r2jseplv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912029516841-6asqelkqcto7jitv97k36m70r2jseplv</string>
	<key>API_KEY</key>
	<string>AIzaSyB463921XeM3z_vHoYEqRNz20LxzkIo4QY</string>
	<key>GCM_SENDER_ID</key>
	<string>912029516841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>hr-rejection</string>
	<key>STORAGE_BUCKET</key>
	<string>hr-rejection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912029516841:ios:83f96e593a97314d5c8838</string>
</dict>
</plist>